* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
    overflow-x: hidden;
    background-color: #fff9ea;
    font-family: 'Inter Tight', sans-serif;
  }  
header{
  position: sticky;
  top: 0;
  z-index: 5;
}
.header{
height: 65px;
background-color:#fae9bd;
display: flex;
justify-content: space-between;
}

.logo a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a img{
  height:90%;
  margin-left: 20px;
}
.div_links{
  display: flex;
  align-items: center;
  font-family: 'Inter Tight', sans-serif;
}
.links{
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px;
}
.links_estilo{
list-style-type: none;
}
.links_estilo a{
  text-decoration: none;
  color: #693535;
}
.linkCarrito{
  display: flex;
  align-items: center;
}
.bxHeader{
font-size: 1.8rem;
}

.tituloProductos{
  color: #693535;
  margin: 20px 10%;
  border-bottom: 1px solid #693535;
}
.subtituloPrincipal{
  color: #693535;
  margin: 10px;
}
.parrafoPrincipal{
  color: #693535;
  text-align: center;
  margin: 0px 50px 20px 50px;
}
.titulo_requisitos{
  color:#693535;
  font-size: 1.5rem;
  text-align: center;
  margin: 25px 20vw;
  padding: 7px;
  border: 2px solid #c68e00;
  border-radius: 5px;
}
.section_requisitos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.img{
  width: 500px;
  border: 2px solid #c68e00;
  margin: 0px 30px 10px 30px;
}
.subtitulo_requisitos{
  color:#693535;
  text-align: center;
  font-size: 1.3rem;
}
.pasos_requisitos{
  margin: 20px;
  display: flex;
  gap: 10px;
  justify-content:flex-start;
}
.cont_requisitos{
  color: #fff;
  width: 25px;
  height: 25px;
  padding: 4px;
  font-size: 1rem;
  background-color: #693535;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto_requisitos{
  color: #693535;
}

.box-comida, .box-juguetes{
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
}
.card{
  width: 230px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-box{
  width:100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-tamaño{
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.card-detalles{
  margin: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  color:#693535;
}
.detalles{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-precio{
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
  color:#693535;
}
.btn{
  display: flex;
  justify-content: center;
  font-family: 'Inter Tight', sans-serif;
  margin: 0px 10px;
  padding: 5px;
  background-color: #fae9bd;
  border: 2px solid #693535;
  border-radius: 10%;
  color: #693535;
  width: 60%;
  cursor: pointer;
 transition: all 0.4s ease;
}
.btn:hover{
  background-color: #fbdf98
}
.bxbtn{
  margin: 0px 0px 0px 5px;
  font-size: 1.2rem;
}

/* page Carrito */

.tituloCarrito{
  text-align:center; 
  color: #693535;
  margin: 20px 10%;

}
.box-tabla{
  display: flex;
  justify-content: center;
}
.tabla{
  width: 95%;
  border-bottom: 1px solid #693535;
  border-collapse: collapse;
}
.tabla tr th,td{
  padding: 5px;
  color: #693535;
}
.img-tabla{
  width: 70px;
  height: 70px;
  vertical-align: inherit;
  object-fit: contain;

}
.centrado{
  font-weight: normal;
  text-align: center;
}
.izquierda{
  font-weight: normal;
  text-align: inherit;
}
.btn-tabla{
  height: 25px;
  width: 25px;
  color: #693535;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid ;
  background-color:#fae9bd;
  
}
.btnBorrar-tabla{
  height: 30px;
  width: 30px;
  color: #3a0000;
  border: 1px solid #8a0000a3;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f10303;
  cursor: pointer;
  margin: auto;
}

.box-vacio{
  width: 70%;
  height: 60px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: #ff000095;
  border: 3px solid #f603035d ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-vacio p{
  color: #b50000;
  font-weight: 700;
}
.box-pago{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.titulo-total{
  color: #693535;
margin: 5px;
}
.cant-pago{
color: #693535;
margin: 5px;
}
.box-btns{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 40px;
}
.btns-compra{
  font-size: 1rem;
 text-align: center;
 text-decoration: none;
  width: 35%;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #f5d994 ;
  background-color: #fae9bd;
  color:#693535;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btns-compra:hover{
background-color:#f5d994;
}


@media (max-width:768px){
  .subtituloPrincipal{
    text-align: center;
  }
}